*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans Georgian", sans-serif;
  overflow-x: hidden;
}

.header {
  background-color: #1a1e1f;
  padding: 2.5rem 0;
}
.container {
  margin: 0 auto;
  max-width: 95rem;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tbc-logo {
  width: 18rem;
}
.navigation-list {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  list-style-type: none;
}
.navigation-list li:nth-child(3) a {
  color: #0f7cc6;
}

.navigation-link:link,
.navigation-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}
.navigation-link:hover,
.navigation-link:active {
  color: #00aef3;
}

.hidden {
  display: none;
}

/* sticky nav */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 2rem;
  padding-bottom: 0;
  background-color: rgba(26, 30, 31, 0.97);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* Main */

/* hero */

.hero-title-container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1169,h_420,al_c,q_85,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 20%;
  width: 100%;
  height: 40vh;
}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgba(43, 43, 43, 0.9);
  width: 100%;
  height: 50vh;
}

.hero-title {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
}

.hero-txt {
  color: #fff;
  font-size: 2.7rem;
}

.learn-more {
  margin-top: 2rem;
  color: #00aef3;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  transition: color 0.5s;
}

.learn-more:hover {
  color: #fff;
}

/* Courses */
.section-courses {
  background-color: #161616;
}
.course-title {
  color: #fff;
  font-size: 2.5rem;
  padding-top: 3rem;
}

.course-content {
  margin-top: 5rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.course-card {
  margin-top: 3rem;
  border: 1px solid #3f3f3f;
  border-radius: 8px;
  width: 30rem;
  height: 40rem;
  margin-bottom: 3rem;
}

.course-image {
  max-width: 100%;
  height: auto;
}

.course-name,
.course-status {
  color: #fff;
  padding-top: 3rem;
  font-size: 1.8rem;
  margin-left: 2rem;
}

.course-status {
  font-size: 1.4rem;
}

.course-details {
  text-decoration: none;
  color: #00aef3;
  font-weight: 600;
  display: inline-block;
  margin-top: 9rem;
  margin-left: 2rem;
  font-size: 1.6rem;
}

.course-card:nth-child(5) .course-details,
.course-card:nth-child(9) .course-details {
  margin-top: 6rem;
}

/* slider */

.partners {
  position: relative;
  background-color: rgba(43, 43, 43, 0.9);
}

.partners-title {
  font-size: 6rem;
  color: #403f3d;
  color: #fff;
  font-size: 2.5rem;
  padding-top: 3rem;
}

.partners__slider {
  display: flex;
  flex-direction: column;
}

.partners-image {
  display: inline-block;
  width: 28rem;
  height: auto;
}

.partners {
  width: 100vw;
  height: 50vh;
}
.partners__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}

.partners__slider--slide {
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  transition: transform 0.5s ease-in-out;
}

.partners__slider--btns {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.partners__slider--btns-btn {
  font-size: 6rem;
  font-weight: 100;
  border: none;
  background-color: transparent;
  color: #fff;
}

.squares {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
}
.square {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #fff;
}
.active-square {
  background-color: #00aef3;
}

/* questions */

.questions-title {
  font-size: 6rem;
  color: #403f3d;
  color: #fff;
  font-size: 2.5rem;
}

.all-questions {
  text-decoration: none;
  color: #00aef3;
  display: inline-block;
  font-size: 2rem;
}

.section-questions {
  background-color: #161616;
}

.questions-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

/* accordion */

.accordion {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 6rem;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}
.accordion-title-border {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3rem;
  /* margin-bottom: 3rem; */
}

.accordion-t {
  font-size: 1.6rem;
  color: #fff;
}
.accordion-p {
  padding: 1rem;
  font-size: 1.4rem;
  color: #fff;
  border-bottom: 1px solid #ccc;
  display: none;
}
.accordion-btns {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  left: 90%;
}
.accordion-arrow {
  color: #ccc;
  font-size: 3rem;
}

.accordion.active .accordion-p {
  display: block;
}

.acc-toggle {
  cursor: pointer;
}
.acc.acc-toggle {
  outline: 0;
}

.acc-toggle .arrow-up {
  display: none;
}
.accordion.active .accordion-title-border {
  border-bottom: none;
}

.accordion.active .acc-toggle .arrow-up {
  display: block;
}
.accordion.active .acc-toggle .arrow-down {
  display: none;
}

/* footer */

.footer {
  background-color: #1a1e1f;
  padding: 4rem;
}

.footer-logo {
  width: 12rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-icon {
  color: #949494;
  font-size: 4rem;
}

.rights {
  color: #fff;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
}

.contact-us {
  color: #fff;
  background-color: #00aef3;
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
}
