*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Noto Sans Georgian', sans-serif;
}


.header {
  background-color: #1a1e1f;
  padding: 2.5rem 0;
}
.container {
  margin: 0 auto;
  max-width: 95rem;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tbc-logo {
  width: 18rem;
}
.navigation-list {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  list-style-type: none;
}
.navigation-list li:nth-child(3) a {
  color: #0f7cc6;
}

.navigation-link:link,
.navigation-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}
.navigation-link:hover,
.navigation-link:active {
  color: #00aef3;
}

.hidden {
  display: none;
}

/* sticky nav */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 2rem;
  padding-bottom: 0;
  background-color: rgba(26, 30, 31, 0.97);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* Main */

/* hero */

.hero-title-container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1169,h_420,al_c,q_85,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 20%;
  width: 100%;
  height: 40vh;


}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgba(43, 43, 43, 0.9);
  width: 100%;
  height: 50vh;
}

.hero-title {
  color: #fff;
  font-size: 5rem;
}

.hero-txt {
  color: #fff;
  font-size: 2.8rem;
}

.learn-more{
  margin-top: 2rem;
  color: #00aef3;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

