@font-face {
  font-family: "Tbc-light";
  src: url("../assets/fonts/file.woff2") format("woff2");
}
@font-face {
  font-family: "Tbc-medium";
  src: url("../assets/fonts/file1.woff2") format("woff2");
}
@font-face {
  font-family: "Tbc-bold";
  src: url("../assets/fonts/file3.woff2") format("woff2");
}
@font-face {
  font-family: "Tbc-extrabold";
  src: url("../assets/fonts/file2.woff2") format("woff2");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Tbc-medium", Arial, sans-serif;
  overflow-x: hidden;
}
.header {
  background-color: #1a1e1f;
  padding: 2rem 0;
  height: 8.8rem;
}
.container {
  margin: 0 auto;
  max-width: 95rem;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tbc-logo {
  width: 18rem;
}
.navigation-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.navigation-list li:nth-child(3) a {
  color: #00a1e0;
}
.navigation-link:link,
.navigation-link:visited {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.4rem;
  transition: color 0.5s;
}
.navigation-link:hover,
.navigation-link:active {
  color: #00a1e0;
}
.hidden {
  display: none;
}
/* sticky nav */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8.8rem;
  padding: 2.5rem 0 3rem 0;
  background-color: rgba(26, 30, 31, 0.97);
  z-index: 999;
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
/* Main */
/* hero */
.hero-title-container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1169,h_420,al_c,q_85,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 50vh;
}
.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgba(43, 43, 43, 1);
  width: 100%;
  height: 60vh;
}
.hero-title {
  font-family: "Tbc-extrabold", Arial, sans-serif;
  color: #f4f4f4;
  font-size: 4rem;
}
.hero-title span {
  font-size: 3rem;
}
.hero-txt {
  font-family: "Tbc-medium", Arial, sans-serif;
  color: #f4f4f4;
  line-height: 4.4rem;
  font-size: 2.7rem;
}
.learn-more {
  margin-top: 4rem;
}
.learn-more,
.all-questions {
  color: #04aef3;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 600;
  transition: color 0.5s;
  text-decoration: none;
}
.learn-more:hover,
.all-questions:hover {
  color: #fff;
}
/* Courses */
.section-courses {
  background-color: #161616;
}
.course-title,
.questions-title,
.partners-title {
  color: #dbdbdb;
  font-size: 2.5rem;
  padding-top: 3rem;
  font-weight: 400;
}
.course-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 3rem;
  margin-top: 5rem;
}
.course-card {
  margin-top: 3rem;
  border: 1px solid #3f3f3f;
  border-radius: 1rem;
  width: 30rem;
  height: 40rem;
  margin-bottom: 3rem;
  box-shadow: 10px 5px 5px #161616;
}
.course-image {
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: auto;
}
.course-name,
.course-status {
  color: #f4f4f4;
  padding-top: 3rem;
  font-size: 2rem;
  margin-left: 2rem;
}
.course-status {
  font-size: 1.4rem;
}
.course-details {
  text-decoration: none;
  color: #04aef3;
  font-weight: 600;
  display: inline-block;
  margin-top: 9rem;
  margin-left: 2rem;
  font-size: 1.6rem;
  transition: color 0.5s;
}
.course-details:hover{
  color: #0080b0;
}
.course-card:nth-child(5) .course-details,
.course-card:nth-child(9) .course-details {
  margin-top: 6rem;
}
/* slider */
.partners {
  position: relative;
  background-color: rgba(43, 43, 43, 1);
}
.partners__slider {
  display: flex;
  flex-direction: column;
}
.partners-image {
  display: inline-block;
  width: 28rem;
  height: auto;
}
.partners {
  width: 100vw;
  height: 50vh;
}
.partners__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}
.partners__slider--slide {
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  transition: transform 0.5s ease-in-out;
}
.partners__slider--btns {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.partners__slider--btns-btn {
  font-size: 6rem;
  border: none;
  background-color: transparent;
  color: #f4f4f4;
}
.squares {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
}
.square {
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background-color: #f4f4f4;
}
.active-square {
  background-color: #04aef3;
}
/* questions */
.section-questions {
  background-color: #161616;
}
.questions-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}
/* accordion */
.what-acc{
  padding-bottom: 5rem;
}
.accordion {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 3rem;
}
.accordion-title-border {
  border-bottom: 1px solid #3f3f3f;
  padding-bottom: 3rem;
}
.accordion-t {
  font-size: 1.8rem;
  color: #fff;
}
.accordion-p {
  padding: 0 0 3rem 0;
  font-size: 1.4rem;
  color: #fff;
  border-bottom: 1px solid #3f3f3f;
  display: none;
}
.accordion-btns {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 0;
}
.accordion-arrow {
  color: #fff;
  font-size: 2rem;
}
.accordion.active .accordion-p {
  display: block;
}
.acc-toggle {
  cursor: pointer;
}
.acc.acc-toggle {
  outline: 0;
}
.acc-toggle .arrow-up {
  display: none;
}
.accordion.active .accordion-title-border {
  border-bottom: none;
}
.accordion.active .acc-toggle .arrow-up {
  display: block;
}
.accordion.active .acc-toggle .arrow-down {
  display: none;
}
/* footer */
.footer {
  background-color: #1a1e1f;
  padding: 4rem;
}
.footer-logo {
  width: 12rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-icon {
  color: #949494;
  font-size: 4rem;
}
.rights {
  color: #f4f4f4;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
}
.contact-us {
  color: #f4f4f4;
  background-color: #00aef3;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem 1.7rem;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  line-height: 1;
  cursor: pointer;
  transition: all 0.5s;
}
.contact-us:hover{
  color: #161616;
  background-color: #f4f4f4;
}
/* modal */
.modal {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 6rem;
  z-index: 99999;
  background-color: #2b2b2b;
  color: #8c8c8c;
}
.hidden {
  display: none;
}
.position {
  position: relative;
}
.overlayy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 445%;
  backdrop-filter: brightness(50%);
  z-index: 5;
}
.modal-content {
  max-width: 45%;
  max-height: 100%;
  font-size: 1.4rem;
  overflow-y: auto;
}
.modal-content h3 {
  font-size: 2rem;
}
.modal-content h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.modal-btn {
  width: 100%;
  padding: 1.8rem 2rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  letter-spacing: .1rem;
}
.modal-btn:hover {
  color: #fff;
  background-color: #00aef3;
  border: none;
  border-radius: 0.8rem;
  transition: all 0.5s;
}
.modal-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.modal-icon {
  font-size: 4rem;
}
